{% extends 'base.html' %} {% block content %}

<h1>Board Game Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ boardgame.name }}</span>
        <p>genre: {{ boardgame.genre }}</p>
        <p>players: {{ boardgame.players }}</p>
        <p>playtime: {{ boardgame.playtime }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'boardgames_update' boardgame.id %}">Edit</a>
        <a href="{% url 'boardgames_delete' boardgame.id %}">Delete</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="col s6">
    <form action="{% url 'add_piece' boardgame.id %}" method="post">
      {% csrf_token %} {{ piece_form.as_p }}
      <input type="submit" class="btn" value="Add Piece" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {% for piece in boardgame.piece_set.all %}
        <tr>
          <td>{{piece.name}}</td>
          <td>{{piece.size}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <h3>Game Stores with {{ boardgame.name }}</h3>
    {% for gamestore in boardgame.gamestores.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title"> {{gamestore.name}} in {{gamestore.location}}</span>
      </div>
      <form action="{% url 'disassoc_gamestore' boardgame.id gamestore.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Remove</button>
      </form>
    </div>
    </div>
    {% empty %}
    <h5>No Game Stores :(</h5>
    {% endfor %}
  </div>
  <div class="col s6">
    <h3>Available Game Stores</h3>
    {% if gamestores.count %} {% for gamestore in gamestores.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{gamestore.name}} in {{gamestore.location}}</span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_gamestore' boardgame.id gamestore.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
      <h5>{{boardgame.name}} is already at all listed game stores</h5>
    {% endif %}
{% endblock %}
  </div>
</div>